.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-left {
  object-position: left;
}

.line-height-normal {
  line-height: normal;
}

.ratio-2x3 {
  --bs-aspect-ratio: calc(3 / 2 * 100%);
}

.ratio-3x2 {
  --bs-aspect-ratio: calc(2 / 3 * 100%);
}

.ratio-6x5 {
  --bs-aspect-ratio: calc(5 / 6 * 100%);
}

.ratio-83x15 {
  --bs-aspect-ratio: calc(15 / 83 * 100%);
}
